<div class="form">
  <div class="container">
    <div class="row">
    <h1>Login</h1>
    <%= form_for :user, url: sessions_path do |f| %>
      <div class="input-field col s12">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class="input-field col s12">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="input-field col s12">
        <%= button_tag(class: "btn waves-effect waves-light", type: "submit") do %>
          Login <i class="material-icons right">send</i>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
