<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper light-blue lighten-1">
        <ul id="nav-mobile" class="left">
          <li class="active"><%= link_to "Home", root_path %></li>
          <% if !user_logged %>
            <li><%= link_to "Sign Up", new_user_path %></li>
            <li><%= link_to "Login", new_session_path %></li>
          <% else %>
            <li><%= link_to "New Item", new_item_path %></li>
            <li><%= link_to "My Account", myaccount_path %></li>
            <li><%= link_to "Logout", logout_path %></li>
          <% end %>
        </ul>
        <ul class="right">
          <li><a href="sass.html"><i class="material-icons left">search</i>Search for an item</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
